@inherits LayoutComponentBase
@using Tonytins.Web.Components
@using Tonytins.Web.Components.Footer
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<div class="container-fluid shadow" style="padding-left: 0px; padding-right: 0px;">
    <NavMenu />
    <div class="main @MainDarkModeCssClass">
        <div class="content px-4">
            @Body
        </div>
    </div>
    <div class="row @FooterDarkMode" style="margin-left: 0px; margin-right: 0px;">
        <div class="col" style="padding:10px;"><AdexComponent /></div>
        <div class="col-md"></div>
        <div class="col">
            <SocialListComponent />
        </div>
        <div class="col">
            <LegalNoticesListComponent />
        </div>
        <div class="col">
            <class class="btn-group-vertical">
                <button class="btn btn-secondary" @onclick="ToggleDarkMode">Dark Mode</button>
                <button class="btn btn-secondary" @onclick="TogglePreview">
                    Preview Mode
                </button>
            </class>
        </div>
    </div>
</div>

@code { bool IsDarkMode
    {
        get
        {
            return localStorage.GetItem<bool>("darkmode");
        }
        set
        {
            localStorage.SetItem("darkmode", value);
        }
    }

    bool IsPreview
    {
        get
        {
            return localStorage.GetItem<bool>("preview");
        }
        set
        {
            localStorage.SetItem("preview", value);
        }
    }

    string MainDarkModeCssClass => IsDarkMode ? "bg-dark text-light" : "bg-light text-dark";
    string FooterDarkMode => IsDarkMode ? "bg-dark text-light" : "bg-secondary text-light";

    void TogglePreview()
    {
        IsPreview = !IsPreview;
    }

    void ToggleDarkMode()
    {
        IsDarkMode = !IsDarkMode;
    } }
