@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<div class="sidebar">
    <NavMenu />
</div>

<div class="main @MainDarkModeCssClass">
    <div class="@DarkTopRow top-row px-4">
        <button class="btn btn-primary" @onclick="ToggleDarkMode">
            <span class="fa fa-moon"></span> Dark Mode
        </button>
    </div>

    <div class="content px-4">
        <div class="row justify-content-center">
            <div class="col-sm"></div>
            <div class="col" id="adex"><AdexComponent /></div>
            <div class="col-sm"></div>
        </div>
        @Body
    </div>
</div>

@code { bool IsDarkMode
    {
        get
        {
            return localStorage.GetItem<bool>("darkmode");
        }
        set
        {
            localStorage.SetItem("darkmode", value);
        }
    }

    string MainDarkModeCssClass => IsDarkMode ? "bg-dark text-light" : "bg-light text-dark";
    string DarkTopRow => IsDarkMode ? "dark-top-row" : null;
    string BtnDarkMode => IsDarkMode ? "btn-light" : "btn-secondary";
    string FooterDarkMode => IsDarkMode ? "bg-dark text-light" : "bg-secondary text-light";
    string SocialDarkMode => IsDarkMode ? "text-light" : "text-dark";

    void ToggleDarkMode()
    {
        IsDarkMode = !IsDarkMode;
    } }
