@inherits LayoutComponentBase
@using Tonytins.Web.Components
@using Tonytins.Web.Components.Footer
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<div class="container-fluid shadow">
    <div class="row">
        <div class="sidebar">
            <NavMenu />
        </div>
        <div class="main @DarkModeCssClass">
            <div class="top-row">
                <div class="col-sm"></div>
                <div class="col-sm">
                    <AdexComponent />
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>
    <div class="row bottom-row">
        <div class="col-sm"></div>
        <div class="col-sm-auto">
            <div class="text-center align-self-center">
                <TaglineComponent />
            </div>
        </div>
        <div class="col-sm"></div>
        <div class="col-sm">
            <SocialListComponent />
        </div>
        <div class="col-sm">
            <LegalNoticesListComponent />
        </div>
        <div class="col-sm-auto">
            <ul class="btn-group-vertical">
                <button class="btn btn-secondary" @onclick="ToggleDarkMode">Dark Mode</button>
                <button class="btn btn-secondary" @onclick="TogglePreview">
                        Preview Mode
                    </button>
            </ul>
        </div>
    </div>
</div>

@code {
    bool IsDarkMode
    {
        get
        {
            return localStorage.GetItem<bool>("darkmode");
        }
        set
        {
            localStorage.SetItem("darkmode", value);
        }
    }

    bool IsPreview
    {
        get
        {
            return localStorage.GetItem<bool>("preview");
        }
        set
        {
            localStorage.SetItem("preview", value);
        }
    }

    string DarkModeCssClass => IsDarkMode ? "bg-dark btn-dark" : null;

    void TogglePreview()
    {
        IsPreview = !IsPreview;
    }

    void ToggleDarkMode()
    {
        IsDarkMode = !IsDarkMode;
    }
}
