@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager NavigationManager;
<nav class="navbar navbar-expand-lg @NavBarDarkMode @NavMenuCssClass" @onclick="ToggleNavMenu">
    <a class="navbar navbar-brand" href="/">
        <img src="../images/nav-logo.png" class="d-inline-block align-top" />
        Tonytins
    </a>
    <ul class="nav navbar-nav ml-auto">
        <li class="nav-item px-3">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="/coh">
                <span class="fa fa-city tins-fa-padding" aria-hidden="true"></span>
                City of Heroes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="/gallery/giftart">
                <span class="fa fa-heart tins-fa-padding" aria-hidden="true"></span>
                Gift Art
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="/gallery/doc">
                <span class="fa fa-archive tins-fa-padding" aria-hidden="true"></span>
                D.O.C.
            </NavLink>
        </li>
    </ul>
</nav>

@code { [Parameter] public bool DarkMode { get; set; }

    bool _collapseNavMenu = true;

    string NavBarDarkMode => DarkMode ? "bg-dark navbar-dark" : "bg-light navbar-light";
    string SocialDarkMode => DarkMode ? "text-light" : "text-dark";

    string NavMenuCssClass => _collapseNavMenu ? "navbar-collapse" : null;

    void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    } }
