<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <img src="../images/nav-logo.png" class="d-inline-block align-top" />
        Tonytins
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="/coh">
                <span class="fa fa-city tins-fa-padding" aria-hidden="true"></span>
                City of Heroes
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="/gallery/giftart">
                <span class="fa fa-heart tins-fa-padding" aria-hidden="true"></span>
                Gift Art
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink Match="NavLinkMatch.All" class="nav-link" href="/gallery/doc">
                <span class="fa fa-archive tins-fa-padding" aria-hidden="true"></span>
                D.O.C.
            </NavLink>
        </li>
    </ul>
</div>

@code { private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    } }
