<footer class="pt-3 mt-2 night-light layout-rows footer text-muted">
    <div class="container">
        <div class="row justify-content-between text-center">
            <div class="col"><TaglineComponent /></div>
            <div class="col-sm">
                <ul class="nav mx-auto justify-content-center">
                    <li class="nav-item px-1"><a href="https://www.deviantart.com/tonytins"><span class="fab fa-deviantart"></span></a></li>
                    <li class="nav-item px-1"><a href="https://twitch.tv/tonytins"><span class="fab fa-twitch"></span></a></li>
                    <li class="nav-item px-1"><a href="https://github.com/tonytins"><span class="fab fa-github"></span></a></li>
                    <li class="nav-item px-1"><a href="https://steamcommunity.com/id/tonytins/"><span class="fab fa-steam"></span></a></li>
                    <li class="nav-item px-1"><a href="https://dev.to/tonytins"><span class="fab fa-dev"></span></a></li>
                    <li class="nav-item px-1"><a href="https://t.me/joinchat/AAAAAE48R2WkEm6gxoDgEg"><span class="fab fa-telegram"></span></a></li>
                    <li class="nav-item px-1"><a href="https://twitter.com/tonyt1ns"><span class="fab fa-twitter"></span></a></li>
                </ul>
            </div>
            <div class="col"><LegalNoticesListComponent /></div>
        </div>

    </div>

</footer>
