@page "/project/zlang"
<img class="text-center" src="../images/zlang.png" />

Z is a BASIC-inspired <a href="https://en.wikipedia.org/wiki/Esoteric_programming_language">esoteric programming language</a> written in Rust.

@code { }
