<div class="ml-auto mx-auto">
    <small><a href="legal/copyrights">Copyrights</a></small>
    <small><a href="legal/usage">Usage</a></small>
    <small><a class="nav-item px-1" href="legal/privacy">Privacy Policy</a></small>
</div>
