<div class="row">
    <ul class="list-unstyled">
        <li><h6>Legal Notices</h6></li>
        <li><span class="fa fa-copyright"></span> <a href="legal/copyrights">Copyrights</a></li>
        <li><span class="fab fa-creative-commons"></span> <a href="legal/licenses">Licenses</a></li>
    </ul>
</div>
