<div class="ml-auto" style="padding-bottom:5px;">
    <ul class="nav">
        <li class="nav-item px-1"><small><a href="legal/copyrights">Copyrights</a></small></li>
        <li class="nav-item px-1"><small><a href="legal/licenses">Licenses</a></small></li>
    </ul>
</div>
