<div class="row">
    <div class="row">
        <div class="col-auto">
            <ul class="list-unstyled">
                <li><h6>Social</h6></li>
                <li><span class="fab fa-github"></span> <a href="https://github.com/tonytins">Github</a></li>
                <li><span class="fab fa-twitter"></span> <a href="https://twitter.com/tonyt1ns">Twitter</a></li>
                <li><span class="fab fa-medium"></span> <a href="https://medium.com/@@tonytins">Medium</a></li>
            </ul>
        </div>
        <div class="col-auto">
            <ul class="list-unstyled">
                <li><span class="fab fa-xbox"></span> <a href="https://www.xboxgamertag.com/search/tonytins/">Xbox</a></li>
                <li><span class="fab fa-twitch"></span> <a href="https://twitch.tv/tonytins">Twitch</a></li>
                <li><span class="fab fa-steam"></span> <a href="https://steamcommunity.com/id/tonytins/">Steam</a></li>
            </ul>
        </div>
    </div>
</div>
