@if (IsOffline)
{
<div class="alert alert-@AlertAsString"><strong>@UppercaseFirst(AlertAsString)</strong>: @Message</div>}

@code { [Parameter] public bool IsOffline { get; set; } = false;
    [Parameter] public string Message { get; set; } = "Connection to API server failed.";
    [Parameter] public AlertType Alert { get; set; } = AlertType.Warning;

    public string AlertAsString
    {
        get
        {
            if (Alert == AlertType.Danger)
                return "danger";

            return "warning";
        }
    }

    // https://www.dotnetperls.com/uppercase-first-letter
    string UppercaseFirst(string s)
    {
        // Check for empty string.
        if (string.IsNullOrEmpty(s))
            return string.Empty;

        // Return char and concat substring.
        return char.ToUpper(s[0]) + s.Substring(1);
    } }
