@if (Display)
{
<div class="alert alert-@AlertAsString">@Message <button type="button" class="close" @onclick="Dismiss"><span class="fa fa-times"></span></button></div>}

@code { [Parameter] public bool Display { get; set; } = false;
    [Parameter] public string Message { get; set; } = "Connection to API server failed.";
    [Parameter] public AlertType Alert { get; set; } = AlertType.Info;

    void Dismiss()
    {
        Display = false;
    }

    // https://www.dotnetperls.com/uppercase-first-letter
    string UppercaseFirst(string s)
    {
        // Check for empty string.
        if (string.IsNullOrEmpty(s))
            return string.Empty;

        // Return char and concat substring.
        return char.ToUpper(s[0]) + s.Substring(1);
    } }
