@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<div class="card shadow-sm @DarkModeCss" style="margin-bottom: 10px;">
    <a href=@Permalink><img class="card-img-top" style="width: 100%;" src=@Image /></a>
    <div class="card-body">
        <h4 class="card-title">@Title</h4>
        @if (!string.IsNullOrEmpty(Credits) || !string.IsNullOrEmpty(Copyrights))
        {
<p class="card-text">
    <div class="container">
        @if (!string.IsNullOrEmpty(Credits))
        {
<div class="row">
    <div class="col">Art by @Credits</div>
</div>}
        @if (!string.IsNullOrEmpty(Copyrights))
        {
<div class="row">
    <div class="col"><small class="text-muted">@Copyrights</small></div>
</div>}

    </div>

</p>}

    </div>
</div>

@code { [Parameter] public string Image { get; set; }

    [Parameter] public string Title { get; set; }

    [Parameter] public string Copyrights { get; set; }

    [Parameter] public string Credits { get; set; }

    [Parameter] public bool VersionTwo { get; set; } = false;

    [Parameter]
    public string Permalink
    {
        get
        {
            if (VersionTwo)
                return $"/v2/gallery/{_permalink}";

            return $"/gallery/{_permalink}";
        }
        set
        {
            _permalink = value;
        }
    }

    bool IsDarkMode => localStorage.GetItem<bool>("darkmode");
    string DarkModeCss => IsDarkMode ? "bg-secondary text-light" : "bg-light text-dark";

    string _permalink = string.Empty; }
