<div class="row">
    <ul class="list-unstyled">
        <li><h6>Legal Notices</h6></li>
        <li><span class="fa fa-copyright"></span> <NavLink href="copyrights">Copyrights</NavLink></li>
    </ul>
</div>
