@namespace Tonytins.Web.Components
<div class="row">
    <div class="col-sm-auto"></div>
    <div class="col-auto">
        <p><img src="@Image" /></p>
        <p><span class="fa fa-spinner tins-fa-padding"></span> Loading...</p>
    </div>
    <div class="col-sm-auto"></div>
</div>

@code { [Parameter]
    public string Image { get; set; } = "../images/tony.gif"; }
