<div class="tins-fixed-center">
    <p><img src=@Image style="width: 200px;"></p>
    @if (!string.IsNullOrEmpty(Message))
    {
<p>@((MarkupString) SiteHelper.MarkdownToHtml(Message))</p>}
</div>

@code { [Parameter] public string Image { get; set; } = "../images/error.png";
    [Parameter] public string Message { get; set; } = "Woops! Looks like there's nothing here.";
}
