<h3>This website is powered by:</h3>
<div class="row align-self-md-center">
    <div class="col-sm">
        <a href="https://blazor.net"><img src="../images/brands/blazor.png" height="@ImageScale" /></a>
    </div>
    <div class="col-sm">
        <a href="https://dot.net"><img src="../images/brands/dotnet.png" height="@ImageScale" /></a>
    </div>
    <div class="col-sm">
        <a href="https://firebase.google.com/"><img src="../images/brands/firebase.png" height="@ImageScale" /></a>
    </div>

</div>

@code { string ImageScale { get; } = "100px"; }
