<div class="row">
    <ul class="list-unstyled">
        <li><h6>Social</h6></li>
        <li><span class="fab fa-github"></span> <a href="https://github.com/tonytins">Github</a></li>
        <li><span class="fab fa-twitter"></span> <a href="https://twitter.com/tonyt1ns">Twitter</a></li>
        <li><span class="fab fa-twitch"></span> <a href="https://twitch.tv/tonytins">Twitch</a></li>
        <li><span class="fab fa-steam"></span> <a href="https://steamcommunity.com/id/tonytins/">Steam</a></li>
    </ul>
</div>
