@page "/coh"
@using Tonytins.Web.Models
@using Tonytins.Web.Components
@using System.Text.Json
@inject HttpClient Http
<h3>City of Heroes</h3>

@if (_heroes == null)
{
<LoadingComponent /> }
            else
            {

<div class="row">
    @foreach (var hero in _heroes)
    {
<div class="col-sm">
    <CoHComponent Hero=@hero.Hero Image=@hero.Image Backstory=@hero.Backstory
                  ServerName=@hero.Server ServerLink=@ServerLink(hero.Server) />
</div>}
</div>      }

@code { HeroModel[] _heroes;

    protected override async Task OnInitializedAsync()
    {
        _heroes = await Http.GetFromJsonAsync<HeroModel[]>(
            "data/heroes.json",
            new JsonSerializerOptions { IgnoreNullValues = true });
    }

    string ServerLink(string server)
    {
        switch (server.ToLowerInvariant())
        {
            case "victory":
                return "https://cityofheroes.dev/";
            case "rebirth":
                return "https://play.cityofheroesrebirth.com/";
            case "homecoming":
                return "https://forums.homecomingservers.com/";
            case "city of heroes":
            default:
                return "https://web.archive.org/web/20120508032355/http://na.cityofheroes.com/en";
        }
    } }
