@page "/coh"
@using Tonytins.Web.Models
@using Tonytins.Web.Components
@inject HttpClient Http
<h3>City of Heroes</h3>
@if (_heroes == null)
{
<LoadingComponent />
 }
else
{

<div class="row">
    @foreach (var hero in _heroes)
    {
<div class="col-sm">
    <HeroInfoboxComponent Hero=@hero.Hero
                          Image=@hero.Image
                          Origin=@hero.Origin
                          Archetype=@hero.Archetype
                          Affilation=@hero.Affilation
                          ServerName=@hero.Server
                          ServerShard=@hero.Shard
                          ServerLink=@ServerLink(hero.Server) />
</div>}
</div>      }

@code { HeroModel[] _heroes;

    protected override async Task OnInitializedAsync()
    {
        _heroes = await Http.GetFromJsonAsync<HeroModel[]>("data/heroes.json");
    }

    string ServerLink(string server)
    {
        switch (server.ToLowerInvariant())
        {
            case "victory":
                return "https://cityofheroes.dev/";
            case "rebirth":
                return "https://play.cityofheroesrebirth.com/";
            case "homecoming":
                return "https://forums.homecomingservers.com/";
            case "city of heroes":
            default:
                return "https://web.archive.org/web/20120508032355/http://na.cityofheroes.com/en";
        }
    } }
