@page "/diagnostics"
@page "/debug"
@using System.Runtime.InteropServices;
@using Tonytins.Web.Components
<h2>Diagnostics</h2>
<div class="container container-fluid">
    <div class="row">
        <div class="col">
            <h3>System</h3>
            <p>Framework: @RuntimeInformation.FrameworkDescription</p>
        </div>
        <div class="col">
            <h3>Git</h3>
            <p>Repository: <a href=@ThisAssembly.Git.RepositoryUrl>@ThisAssembly.Git.RepositoryUrl</a></p>
            <p>Branch: @ThisAssembly.Git.Branch</p>
            <p>Commit: @ThisAssembly.Git.Sha</p>
        </div>
    </div>
</div>
