@page "/giftart"
@using Tonytins.Models
@using Tonytins.Web.Components
@inject HttpClient Http
<AlertComponent IsOffline=@_isOffline Message="Connection to API server failed. Using locally stored data." />
<h3>Gift Art</h3>
<a>All art was commissioned by varies freinds.</a>
<div style="width: 50em; margin: 0 auto; margin-top: 10px;">
    @if (_art == null)
    {
<LoadingComponent /> }
else
{
<div class="row">
    @foreach (var art in _art)
    {
<div class="col-auto">
    <GalleryComponent Title=@art.Title
                      Image=@SiteHelper.ResolveImagePath(art.Image, "giftart")
                      Copyrights=@art.Copyrights Credits=@art.Credits />
</div>}
</div>}
</div>
<p>Art &copy; their respective owners.</p>

@code { GalleryModel[] _art;
    bool _isOffline = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _art = await Http.GetFromJsonAsync<GalleryModel[]>("https://api.tonytins.xyz/gallery");
        }
        catch
        {
            _art = await Http.GetFromJsonAsync<GalleryModel[]>("data/giftart.json");
            _isOffline = true;
        }
    } }
