@page "/giftart"
@using Tonytins.Models
@using Tonytins.Web.Components
@inject HttpClient Http
<h3>Gift Art</h3>
<a>All art was commissioned by varies freinds.</a>
<div style="width: 50em; margin: 0 auto; margin-top: 10px;">
    @if (art == null)
    {
<LoadingComponent /> }
else
{
<div class="card-columns">
    @foreach (var art in art)
    {
<GalleryComponent Title=@art.Title
                      Image=@SiteHelper.ResolveImagePath(art.Image, "giftart")
                      Copyrights=@art.Copyrights Credits=@art.Credits />}
</div>}
</div>

@code {
    GalleryModel[] art;

    protected override async Task OnInitializedAsync()
    {
        art = await Http.GetFromJsonAsync<GalleryModel[]>("data/giftart.json");
    } 
}
