@page "/projects"
@using Tonytins.Web.Models
@using Tonytins.Web.Components
@inject HttpClient Http

<h1>Projects</h1>

<p>These are a list of the projects I'm working on Github.</p>

@if (_projects == null)
{
<LoadingComponent /> }
            else
            {
<table class="table">
    <thead>
        <tr>
            <th>Project</th>
            <th>Repository</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var projects in _projects)
        {
<tr>
    <td><NavLink href="@projects.Page">@projects.Project</NavLink></td>
    <td><a href="@projects.Repo">@projects.Repo</a></td>
</tr>}
    </tbody>
</table>}

@code { ProjectsModel[] _projects;

            protected override async Task OnInitializedAsync()
            {
                _projects = await Http.GetFromJsonAsync<ProjectsModel[]>("data/projects.json");
            } }
