@page "/docs/androids"
@using Tonytins.Models
@using Tonytins.Web.Components
@using System.Collections.Generic
@inject HttpClient Http
@if (!string.IsNullOrEmpty(PageName))
{
<TitleHelper Name=@PageName />
                <h2>@PageName</h2>
 }
            else
            {
<TitleHelper Name=@PageName />
}
@if (!string.IsNullOrEmpty(PageDescription))
{
@PageDescription.MarkdownToHtml()
                <hr />
}
<div style="margin: 0 auto; margin-top: 10px;">
    @if (!IsReady)
    {
<LoadingComponent /> }
else
{
<div class="card-columns">
    @foreach (var android in androids)
    {
<AndroidComponent Name=@android.Name Description=@android.Description />}
</div>}
</div>

@code { IEnumerable<AndroidModel> androids;

    [Parameter] public string Name { get; set; }

    string PageDescription { get; set; }
    string PageName { get; set; }
    string AlertMessage { get; set; }
    bool DisplayAlert { get; set; }
    int CountArt { get; set; }
    bool IsReady { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var gallery = await Http.GetFromJsonAsync<GalleryBase<AndroidModel>>(SiteHelper.JsonCDN(Name, $@"doc/{Name}", true));
            PageDescription = gallery.Description;
            PageName = gallery.Title;

            androids = gallery.Gallery.AsParallel();

            foreach (var art in gallery.Gallery)
                CountArt++;

            IsReady = true;
        }
        catch (Exception err)
        {
            AlertMessage = err.Message;
            DisplayAlert = true;
        }
    } }
