@page "/doc"
@using Tonytins.Models
@using Tonytins.Web.Components
@inject HttpClient Http
<h3>Characters</h3>
@if (character == null) {
    <LoadingComponent />
} else {
    <div class="row">

    </div>
}

@code {
    CharacterModel[] character;

    protected override async Task OnInitializedAsync()
    {
        character = await Http.GetFromJsonAsync<CharacterModel[]>("data/characters.json");
    }
}
