<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
            <div style="text-align: center; align-content: center; padding: 0%;">
                <p><img src="../images/error.png" style="width: 200px;"></p>
            </div>
        </LayoutView>
    </NotFound>
</Router>
