@page "/gallery/doc"
@using System.Timers
@using Tonytins.Models
@using Tonytins.Web.Components
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<h3>D.O.C.</h3>
<a>DOC, for Document of Cartoons, is an archive of past artworks and model sheets. The name derives from Cartoon Network's DOC, which served the same purpose but focused on concept art instead of general artwork.</a>
<div style="margin: 0 auto; margin-top: 10px;">
    @if (art == null)
    {
<LoadingComponent /> }
else
{
<div class="card-columns">
    @foreach (var art in art)
    {
        var permalink = $"doc/{art.Id}";
<GalleryComponent Title=@art.Title
                  Image=@SiteHelper.ImageCDN(art.Image, "doc")
                  Permalink=@permalink
                  Copyrights=@art.Copyrights
                  Credits=@art.Credits />}
</div>}
</div>

@code { GalleryModel[] art;

    bool GetDarkMode => localStorage.GetItem<bool>("darkmode");

    protected override async Task OnInitializedAsync()
    {
        art = await Http.GetFromJsonAsync<GalleryModel[]>(SiteHelper.JsonCDN("doc"));
    } }
