@page "/gallery/{Name}"
@using Tonytins.Models.Gallery
@using Tonytins.Web.Components
@using System.Collections.Generic
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<AlertComponent Display=@DisplayAlert Alert=@AlertType.Warning Message=@AlertMessage />
<div class="text-right">
    <span class="badge @DarkModeBadgeCss"><span class="fa fa-photo-video"></span> @CountArt</span>
</div>
@if (!string.IsNullOrEmpty(PageName))
{
<TitleHelper Name=@PageName />
                <h2>@PageName</h2>
 }
            else
            {
<TitleHelper Name="Gallery" />
}
@if (!string.IsNullOrEmpty(PageDescription))
{
@PageDescription.MarkdownToHtml()
                <hr />
}
<div style="margin: 0 auto; margin-top: 10px;">
    @if (!IsReady)
    {
<LoadingComponent /> }
else
{
<div class="card-columns">
    @foreach (var art in submissions)
    {
<GalleryComponent Image=@SiteHelper.ImageCDN(art.Image, $@"gallery/{Name}")
                  Permalink=@SiteHelper.Permalink(Name, art.Key)
                  Copyrights=@art.Copyrights
                  Credits=@art.Credits />
}
</div>}
</div>
@code { IEnumerable<ArtworkModel> submissions;

 [Parameter] public string Name { get; set; }

 string PageDescription { get; set; }
 string PageName { get; set; }
 string AlertMessage { get; set; }
 bool DisplayAlert { get; set; }
 int CountArt { get; set; }
 bool IsReady { get; set; }

 bool IsDarkMode => localStorage.GetItem<bool>("darkmode");
 string DarkModeBadgeCss => IsDarkMode ? "badge-secondary" : "badge-primary";

 protected override async Task OnParametersSetAsync()
 {
     CountArt = 0;

     try
     {
         var gallery = await Http.GetFromJsonAsync<GalleryModel<ArtworkModel>>(SiteHelper.JsonCDN(Name, @"prod/gallery/"));
         PageDescription = gallery.Description;
         PageName = gallery.Title;

         submissions = gallery.Artwork.AsParallel();

         foreach (var art in gallery.Artwork)
             CountArt++;

         IsReady = true;
     }
     catch (Exception err)
     {
         AlertMessage = err.Message;
         DisplayAlert = true;
     }
 } }
