@page "/gallery/{Name}"
@using Tonytins.Models
@using Tonytins.Web.Components
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
@inject NavigationManager NavigationManager
<div style="margin: 0 auto; margin-top: 10px;">
    @if (art == null)
    {
<LoadingComponent /> }
else
{
<div class="card-columns">
    @foreach (var art in art)
    {
        var permalink = $"{Name}/{art.Key}";
<GalleryComponent Title=@art.Title
                  Image=@SiteHelper.ImageCDN(art.Image, Name)
                  Permalink=@permalink
                  Copyrights=@art.Copyrights
                  Credits=@art.Credits />}
</div>}
</div>

@code { GalleryModel[] art;

    [Parameter] public string Name { get; set; }

    string PageDescription { get; set; }

    protected override async Task OnParametersSetAsync()
    {
        try
        {
            var gallery = await Http.GetFromJsonAsync<GalleryModel[]>(SiteHelper.JsonCDN(Name));
            art = gallery;
        }
        catch
        {
            NavigationManager.NavigateTo($"/v2/gallery/{Name}");
        }
    } }
