@page "/giftart"
@page "/gallery/giftart"
@using Tonytins.Models
@using Tonytins.Web.Components
@inject HttpClient Http
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage
<h3>Gift Art</h3>
<div style="margin: 0 auto; margin-top: 10px;">
    @if (art == null)
    {
        <LoadingComponent /> }
    else
    {
        <div class="card-columns">
            @foreach (var art in art)
            {
                var permalink = $"giftart/{art.Key}";
                <GalleryComponent Title=@art.Title
                                  Image=@SiteHelper.ImageCDN(art.Image, "giftart")
                                  Permalink=@permalink
                                  Copyrights=@art.Copyrights
                                  Credits=@art.Credits />}
        </div>}
</div>

@code {
    GalleryModel[] art;

    bool GetDarkMode => localStorage.GetItem<bool>("darkmode");

    protected override async Task OnInitializedAsync()
    {
        art = await Http.GetFromJsonAsync<GalleryModel[]>(SiteHelper.JsonCDN("giftart"));
    } }
