@page "/legal/copyrights"
<h3>Copyright</h3>
<p>Zack Casey, Anthony Foxclaw, Super Anthony, Aidan Cheddar, Tom &copy; Tonytins<br /><a href="giftart">Works of my characters</a> are &copy; their respective artists.</p>

<h4>Other Copyrights</h4>
<p>
    <ul>City of Heroes &copy; NCSoft and Paragon Studios</ul>
</p>
