@page "/legal/copyrights"
<h3><span class="fa fa-copyright"></span> Copyright</h3>
<p>Zack Casey, Anthony Foxclaw, Super Anthony, John, Cirria, Cookie Girl, Aidan Cheddar, Tom &copy; Tonytins<br /><a href="/gallery/giftart">Works of my characters</a> are &copy; their respective artists.</p>

<h4>Other Copyrights</h4>
<p>
    <ul>City of Heroes &copy; NCSoft and Paragon Studios</ul>
</p>
