@page "/games/dressup"
@using Tonytins.Web.Components
<div class="card shadow-sm text-dark">
    <div><VideoGame Address="../games/dressup/index.html" /></div>
    <div class="card-body">
        <h4 class="card-title">Tony's Dress Up</h4>
    </div>
</div>
